.jqueryComboModal {
	border:1px #7f9db9 solid;
	background-color:#ffffff;
	position:absolute;
	left:0px;
	display:none;
}
.jqueryComboModal a {
	font-family: arial;
	font-size:12px;
	color:black;
	text-decoration: none;
	display:block;
	padding:3px 10px;
	height:12px;
	line-height:12px;
}
.jqueryComboModal a:hover {
	background-color:#1e90ff;
	color:#ffffff;
}
